@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.testimoniales-blog {
    margin-top: 5rem;
    @include m.desktop { 
          display: grid;
          @include m.grid(3, 4rem);
    }
    &__heading {
        @include m.heading(true);
    }
    &__blog {
        margin-top: 5rem;
        grid-column: 2 / 4;
        @include m.tablet { 
              margin-top: 0;
        }
    }
}
.testimonial {
    text-align: center;
    &__imagen {
        width: 20rem;
        margin: 0 auto;
        @include m.telefono { 
             width: 30rem; 
        }
        @include m.tablet { 
              width: 45rem;
        }
    }
    &__contenido {
        background-color: v.$blanco;
        margin-top: -10rem;
        padding: 10rem 2rem 2rem;
    }
    &__nombre {
        font-size: 2.4rem;
        font-weight: 700;
    }
    &__texto {
        &::before {
            content: '';
            width: 4rem;
            height: 4rem;
            background-image: url('../img/quote.svg');
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 1rem;
        }
    }
}

.entrada {
    @include m.tablet { 
        @include m.grid(5, 2rem);
       
    }
    margin-bottom: 2rem;
    background-color: v.$blanco;
    :last-of-type {
        margin-bottom: 0
    }

    &__enlace {
        @include m.boton(v.$primario, v.$blanco);
        @include m.tablet { 
            display: inline-block;
            width: auto;
        }
        
    }
    &__imagen-contenedor{ 
        
        @include m.tablet { 
            grid-column: 1 /3 ;
              
        }
    }
    &__contenido {
        padding: 1rem;
        @include m.tablet { 
            grid-column: 3 /6 ; 
        }
    }
    &__imagen {
        object-fit: cover;
        min-height: 30rem;
       
        
    }
    &__meta {
        font-size: 1.2rem;
    }
    &__texto {
        margin: 0;
    }
}